{% extends "encyclopedia/layout.html" %}

{% block title %}
    Search results
{% endblock %}

{% block body %}
    <h1>Search results for "{{ query }}"</h1>

    {% if entries %}
    <ul>
        {% for entry in entries %}
            <li><a href="{% url 'entry' entry %}">{{ entry|capfirst }}</a></li>
        {% endfor %}
    </ul>
	{% else %}
	<div class="alert alert-danger" role="alert">
        <h2><a href="{% url 'index' %}">No Results -> Please try again</a></h2>
	</div>
    {% endif %}
    
{% endblock %}